<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th><%= context == 'received' ? 'From' : 'To' %></th>
      <th>Subject</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= context == 'received' ? message.sender.username : message.recipient.username %></td>
        <td><%= message.subject %></td>
        <td><%=l message.created_at, :format => :long %></td>
        <td>
          <%= link_to "Read", message %>
          <%= link_to "Delete", message, :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
