<%= link_to "MessageOmatic", root_path, :class => "brand" %>
<ul class="nav">
  <% unless current_user %>
    <li><%= link_to "Sign up", new_user_path %></li>
    <li><%= link_to "Sign in", new_session_path %></li>
  <% else %>
    <li><%= link_to "Messages", messages_path %></li>
    <li><%= link_to "Edit profile", edit_profile_path %></li>
    <li><%= link_to "Sign out", session_path, :method => :delete %></li>
  <% end %>
</ul>
