<!DOCTYPE html>
<html>
<head>
  <title>PusherDemo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= render 'layouts/top_bar' %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'layouts/flash_messages' %>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
